<html xmlns="http://www.w3.org/1999/xhtml" ng-app="GeneralStoreApp">
<head>
    <title>General Store</title>
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body ng-controller="StoreController as sc">
    <h1>Ryan General Store</h1>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Food Name</th>
                <th>Price</th>
                <th>Is In Stock</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="food in sc.foodC">
                <td>{{food.name}}</td>
                <td>{{food.price | currency}}</td>
                <td>{{food.isInStock}}</td>
            </tr>
        </tbody>
    </table>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Clothing Name</th>
                <th>Price</th>
                <th>Is In Stock</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="clothes in sc.clothesC">
                <td>{{clothes.name}}</td>
                <td>{{clothes.price | currency}}</td>
                <td>{{clothes.isInStock}}</td>
            </tr>
        </tbody>
    </table>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Toy Name</th>
                <th>Price</th>
                <th>Is In Stock</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="toy in sc.toysC">
                <td>{{toy.name}}</td>
                <td>{{toy.price | currency}}</td>
                <td>{{toy.isInStock}}</td>
            </tr>
        </tbody>
    </table>


    <script src="~/lib/angular/angular.min.js"></script>
    <script src="~/ngApp/app.js"></script>
    <script src="~/ngApp/controller.js"></script>
</body>
</html>